<header>
    <div>
        <a href="/">Página inicial</a>
        <!-- Caso a variável user exist (se está logado) e admin exista, eu quero que mostre a opção administrador -->
        <% if (locals.user && locals.admin === "true") { %>
            |
            <a href="/admin">Administrador</a>
        <% } %>
        <!-- Se estiver logado, vai aparecer Logout, senão, Login -->
        <% if (locals.user) { %>
            |
            <form action="/logout" method="post">
                <button type="submit" class="btn-logout">Logout</button>
            </form>      
        <% }else{ %> 
            |
            <a href="/login">Login</a>
        <% } %>
    </div>
</header>